<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <!--Justin.BookShop.Service.AuthorService-->
        <behavior name="metadataBehavior_Author">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.BookCategoryService-->
        <behavior name="metadataBehavior_BookCategory">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3722/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.BookService-->
        <behavior name="metadataBehavior_Book">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3723/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.BookStockService-->
        <behavior name="metadataBehavior_BookStock">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3724/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.CartService-->
        <behavior name="metadataBehavior_Cart">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3725/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.DepartmentService-->
        <behavior name="metadataBehavior_Department">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3726/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.DepartmentService-->
        <behavior name="metadataBehavior_InStockReceipt">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3727/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.DepartmentService-->
        <behavior name="metadataBehavior_Order">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3728/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.OutStockReceiptService-->
        <behavior name="metadataBehavior_OutStockReceipt">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3729/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.PermissionService-->
        <behavior name="metadataBehavior_Permission">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3730/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.PressService-->
        <behavior name="metadataBehavior_Press">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3731/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.PriceAdjustReceiptService-->
        <behavior name="metadataBehavior_PriceAdjustReceipt">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3732/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.SaleService-->
        <behavior name="metadataBehavior_Sale">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3733/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.StockDamagedReceiptService-->
        <behavior name="metadataBehavior_StockDamagedReceipt">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3734/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.StocktakeReceiptService-->
        <behavior name="metadataBehavior_StocktakeReceipt">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3735/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.UserRoleService-->
        <behavior name="metadataBehavior_UserRole">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3736/BookShopService/metadata" />
        </behavior>
        <!--Justin.BookShop.Service.UserService-->
        <behavior name="metadataBehavior_User">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3737/BookShopService/metadata" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--Justin.BookShop.Service.AuthorService-->
      <service name="Justin.BookShop.Services.AuthorService" behaviorConfiguration="metadataBehavior_Author">
        <endpoint address="http://127.0.0.1:3721/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IAuthorService" />
      </service>
      <!--Justin.BookShop.Service.BookCategoryService-->
      <service name="Justin.BookShop.Services.BookCategoryService" behaviorConfiguration="metadataBehavior_BookCategory">
        <endpoint address="http://127.0.0.1:3722/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IBookCategoryService" />
      </service>
      <!--Justin.BookShop.Service.BookService-->
      <service name="Justin.BookShop.Services.BookService" behaviorConfiguration="metadataBehavior_Book">
        <endpoint address="http://127.0.0.1:3723/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IBookService" />
      </service>
      <!--Justin.BookShop.Service.BookStockService-->
      <service name="Justin.BookShop.Services.BookStockService" behaviorConfiguration="metadataBehavior_BookStock">
        <endpoint address="http://127.0.0.1:3724/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IBookStockService" />
      </service>
      <!--Justin.BookShop.Service.CartService-->
      <service name="Justin.BookShop.Services.CartService" behaviorConfiguration="metadataBehavior_Cart">
        <endpoint address="http://127.0.0.1:3725/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.ICartService" />
      </service>
      <!--Justin.BookShop.Service.DepartmentService-->
      <service name="Justin.BookShop.Services.DepartmentService" behaviorConfiguration="metadataBehavior_Department">
        <endpoint address="http://127.0.0.1:3726/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IDepartmentService" />
      </service>
      <!--Justin.BookShop.Service.InStockReceiptService-->
      <service name="Justin.BookShop.Services.InStockReceiptService" behaviorConfiguration="metadataBehavior_InStockReceipt">
        <endpoint address="http://127.0.0.1:3727/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IInStockReceiptService" />
      </service>
      <!--Justin.BookShop.Service.OrderService-->
      <service name="Justin.BookShop.Services.OrderService" behaviorConfiguration="metadataBehavior_Order">
        <endpoint address="http://127.0.0.1:3728/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IOrderService" />
      </service>
      <!--Justin.BookShop.Service.OutStockReceiptService-->
      <service name="Justin.BookShop.Services.OutStockReceiptService" behaviorConfiguration="metadataBehavior_OutStockReceipt">
        <endpoint address="http://127.0.0.1:3729/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IOutStockReceiptService" />
      </service>
      <!--Justin.BookShop.Service.PermissionService-->
      <service name="Justin.BookShop.Services.PermissionService" behaviorConfiguration="metadataBehavior_Permission">
        <endpoint address="http://127.0.0.1:3730/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IPermissionService" />
      </service>
      <!--Justin.BookShop.Service.PressService-->
      <service name="Justin.BookShop.Services.PressService" behaviorConfiguration="metadataBehavior_Press">
        <endpoint address="http://127.0.0.1:3731/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IPressService" />
      </service>
      <!--Justin.BookShop.Service.PriceAdjustReceiptService-->
      <service name="Justin.BookShop.Services.PriceAdjustReceiptService" behaviorConfiguration="metadataBehavior_PriceAdjustReceipt">
        <endpoint address="http://127.0.0.1:3732/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IPriceAdjustReceiptService" />
      </service>
      <!--Justin.BookShop.Service.SaleService-->
      <service name="Justin.BookShop.Services.SaleService" behaviorConfiguration="metadataBehavior_Sale">
        <endpoint address="http://127.0.0.1:3733/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.ISaleService" />
      </service>
      <!--Justin.BookShop.Service.StockDamagedReceiptService-->
      <service name="Justin.BookShop.Services.StockDamagedReceiptService" behaviorConfiguration="metadataBehavior_StockDamagedReceipt">
        <endpoint address="http://127.0.0.1:3734/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IStockDamagedReceiptService" />
      </service>
      <!--Justin.BookShop.Service.StocktakeReceiptService-->
      <service name="Justin.BookShop.Services.StocktakeReceiptService" behaviorConfiguration="metadataBehavior_StocktakeReceipt">
        <endpoint address="http://127.0.0.1:3735/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IStocktakeReceiptService" />
      </service>
      <!--Justin.BookShop.Service.UserRoleService-->
      <service name="Justin.BookShop.Services.UserRoleService" behaviorConfiguration="metadataBehavior_UserRole">
        <endpoint address="http://127.0.0.1:3736/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IUserRoleService" />
      </service>
      <!--Justin.BookShop.Service.UserService-->
      <service name="Justin.BookShop.Services.UserService" behaviorConfiguration="metadataBehavior_User">
        <endpoint address="http://127.0.0.1:3737/BookShopService" binding="wsHttpBinding" contract="Justin.BookShop.IService.IUserService" />
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Justin.BookShop.Admin-20140130124858;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Justin.BookShop.Admin-20140130124858.mdf" />
    <add name="EntitiesContainer" connectionString="metadata=res://*/Entities.csdl|res://*/Entities.ssdl|res://*/Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BookShopDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>