@charset "gb2312";
/* CSS Document */
.o-mt .extra{float:right}
.o-mt .extra a{margin-right:10px; display:inline-block; vertical-align:middle}
.right .close{position:absolute;right:3px;top:3px;background:url(i/icon.gif) -81px -41px;width:19px;height:19px; cursor:pointer}
#order02 .mt{border-bottom: 2px solid #FFCCAA;padding-left:6px}
.taborder li{position:relative;float:left;z-index:2}
.taborder .tyies-t{line-height:31px;background:url(i/tab01.png) 0 -32px;height:31px;padding-left:15px;padding-right:47px;position:relative;z-index:3;*float:left;}
html* .taborder .tyies-t{top:1px}
.taborder li b,.taborder li s{height:31px;background:url(i/tab01.png);position:absolute}
.taborder li s{top:0;left:0;width:3px}
.taborder li b{width:31px;background-position:-3px 0;top:0;right:0}
.taborder .hover .tyies-t{background-position:0 -96px;position:relative}
.taborder .hover s{background-position:0 -64px}
.taborder .hover b{background-position:-3px -64px}
.taborder .close{background:url(i/tab01.png) 0 -128px}
.tr-th td,.tr-split td{padding-top:4px;padding-bottom:4px;}
.tr-th td{text-align:left}
.tr-th span{display:inline-block;*display:inline;*zoom:1;margin-right:10px;overflow:hidden;vertical-align:middle;height:24px;line-height:23px;float:left;}

.tr-th{background:#f9f9f9;}
.tcol1{width:225px;color:#666666}
.tcol2{/*width:130px;*/color:#666666;margin:0;}
.tr-th span.tcol2{margin:0;}
.tr-th span.tcol4{float:right;color:#666666;width:170px;}
.tr-td td{ vertical-align:top;padding-top:10px}
.tr-split td{background-color:#FFFDEE;color:#666666}
td.td-02{background:#fffdee;color:#666666;padding-top:5px}
.u-name{width:80px;overflow:hidden;word-break:break-all;word-wrap:break-word;}
.img-list{width:280px;overflow:hidden;/*margin-bottom:4px*/}
.img-list .img-box{/*border:1px solid #e1e1e1;float:left;*/margin-right:4px;margin-bottom:4px}
.img-list .img-box:hover{border-color:#EDD28B}
.o-info{text-align:left;margin-left:54px}
.tooltip{position:relative;display:block;width:100%;z-index:2;color:#005EA7}

.tooltip s,.tyies s{display:inline-block;line-height:0;font-size:0;height:0;overflow:hidden;vertical-align:middle;margin-left:2px;border:4px dashed;border-color:#005a9d transparent transparent;border-top-style:solid}
.tooltip i{display:inline-block;line-height:0;font-size:0;height:0;overflow:hidden;vertical-align:middle;width:16px;height:16px;background:url(i/date.png) 0 -14px no-repeat;margin-right:3px;}

.tooltip i.icon-trian{display:inline-block;line-height:0;font-size:0;height:0;overflow:hidden;vertical-align:middle;margin-left:2px;border:4px dashed;border-color:#005a9d transparent transparent;border-top-style:solid;background:none;width:0;}
.tooltip i.icon-limit{display:inline-block;line-height:0;font-size:0;height:0;overflow:hidden;vertical-align:middle;width:16px;height:16px;background:url(i/date.png) 0 -14px;margin-right:3px;}
.ftx-line{color:#CCCCCC;margin-left:4px;margin-right:4px}
.td-01{background:#ffffcc}
a.btn-again {background: url(i/use.gif);display: block;height: 21px;line-height: 100px; margin: 3px auto 0;overflow: hidden;width: 72px;}
a.btn-again:hover{background-position:0 -21px}
.prompt-01{position:absolute;width:428px;left:-428px;top:-24px;padding:9px}
.prompt-01 .pc{border:1px solid #ffe6bc;background:#fff;padding:10px;color:#333;text-align:left;overflow:hidden;min-height:235px;}
*html .prompt-01 .pc{height:235px;zoom:1;overflow:visible}
.prompt-01 .pc li{overflow:hidden;zoom:1}
.prompt-01 .pc li a{color:#333;text-decoration:none}
.prompt-01 .pc dl{border-bottom:1px solid #d7d6d6;line-height:16px;overflow:hidden;margin-bottom:5px}
.prompt-01 .pc dt,.prompt-01 .fore1{width:140px;float:left;margin-right:6px}
.prompt-01 .fore1{min-height:15px;_height:15px}
.prompt-01 .fore2{float:left;width:260px}
*html .pb-r{right:0}
/*20130513*/
.pr-more,.pr-select{margin-left:-10px;margin-right:-10px;padding-left:10px;padding-top:1px;padding-bottom:1px;cursor:pointer}
.pr-select{background-color:#F9F3D3;}
.third-li{background-color:#FFFCEB;margin-left:-10px;margin-right:-10px;padding-left:10px;padding-top:1px;padding-bottom:1px;display:none}
.icon-show{background-image:url(i/icon-pmore.png);width:14px;height:14px;display:inline-block;line-height:0;font-size:0;overflow:hidden;position:relative;top:2px;margin-left:2px}
.pr-select .icon-show{background-position:0 -14px}



#order01{margin-top:-10px;line-height:20px;}
#order01 .mc{padding:10px 20px;line-height:25px}#order01 dl,.filter-item .item-con{overflow:hidden;*zoom:1}
#order01 dt,#order01 dd{float:left}#order01 dt{width:60px;text-align:right}
#order01 dd{margin-right:25px;color:#999}
#order01 dd .icon-new{background: url(i/icon-2013-new.png) no-repeat right 3px;padding-right:26px; }
#order02,#order02 .mc,#order02 .tb-void,#order02 .mt{ overflow:visible}
.search-01{float:right}
.search-01 .text{padding:4px;margin-right:3px;border:1px solid;border-color:#aaa #ddd #ddd #aaa;width:190px;}
.text01{color:#999}
.tyies-c{display:none;border:2px solid #ffccaa;-moz-border-radius:0 1px 1px;-webkit-border-radius:0 1px 1px;border-radius:0 1px 1px;background:#fff;text-align:left;padding:0 8px;-webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);-moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.08);z-index:2}
.tyies-c .close{right:-8px;top:-8px}.tyies-c .label{color:#999}
.hover .tyies-c{position:absolute;display:block;width:300px;left:0;top:29px;}
.filter-item{line-height:22px;color:#CCCCCC;background:url(i/dotted.gif) 0 bottom repeat-x;zoom:1;word-wrap:break-word;padding-top:4px;padding-bottom:4px}
.filter-item:last-child{background-image:none}
.filter-item a{padding:0 8px;margin-left:-1px;white-space:nowrap;background:url(i/solid.gif) left center no-repeat;zoom:1;float:left}
.filter-item .label{float:left}
th .sele{margin-right:0;padding:2px}
.bti {background: url(i/use.gif) 0 -42px;height: 25px;margin-top: -1px;width: 50px;}  
#order03{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;height:262px}
#order03 .mt{padding-left:0;border-bottom:none;height:auto}
#order03 .mc{padding:10px;height:242px;}
#order03 .tabs li{background:#f2f2f2;border:solid #DDDDDD;border-width:0 0 1px 1px;width:207px;margin-left:-1px;font-family: "microsoft yahei";font-size:14px;float:left;text-align:center;height:37px;line-height:37px;}
#order03 .tabs li.curr{background:#fff;border-bottom:none}
#order03 .p-name{height:3em;overflow:hidden;padding:0 5px}
.jd-prev a,.jd-next a{background:url(i/lr.jpg) no-repeat;width:34px;height:37px;cursor:pointer;line-height:100px;overflow:hidden;display:block}
.jd-prev,.jd-next{padding-top:96px;height:150px}
.jd-prev{float:left}
.jd-next{float:right}
.jd-next a{background-position:-34px 0;}
.jd-list{overflow:hidden;*width:720px;float:left}
.jd-list li{float:left;width:185px;text-align:center;}
/*ebook*/
.givemsg .form .item{margin-bottom:10px;}
.givemsg .form .label{color:#666666;text-align:right;width:80px}
.givemsg .area{width:180px;color:#CCCCCC}
.givemsg .btn,.givemsg01 .btn{margin-right:10px}
.givemsg01 .icon-succ03,.givemsg01 .icon-warn03{vertical-align:middle;margin-right:10px;float:none}
.givemsg01 .icon-succ03{background-position:-64px 0;}
.givemsg01{text-align:center;padding-top:50px}
.givemsg01 p{margin-bottom:10px}
/*ad*/
#miaozhen10772 img{width:830px}
/*flex*/
.icon-succ03{display:inline-block;*zoom:1;font-size:0;line-height:0;overflow:hidden;background:url(i/icon-msg.png) no-repeat -64px 0;width:32px;height:32px; vertical-align:top;margin-right:10px;float:left}
.icon-warn03{float:left;margin-right:10px;}
.mrefund .mc{padding:10px 30px}
.mrefund .fore{margin-left:40px;padding-top:10px}
.mrefund h3,.mrefund p,.mrefund .item{margin-bottom:10px}
.mrefund .btns{text-align:center;padding-top:5px}
.mrefund .btn{margin:0 5px;font-weight:normal;font-size:12px}
.mrefund p .check{position:relative;top:2px}
.btns01{padding-left:90px}
.mrefund .form{zoom:1}
.mrefund .area{color:#ccc;margin-left:0px}
.mrefund .list-h li{width:180px;float:left;height:25px;line-height:25px}
#givemsg03 .m{text-align:center;padding-top:10px}#givemsg03 p{margin-bottom:15px}
#givemsg03 .btn{margin:0 3px}
/*pj 20121219*/
.link-pj{position:relative}
.prompt01{position: absolute;border:1px solid #EDD28B;background:#FFFDEE;-webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);-moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.15);box-shadow: 0 0 0 3px rgba(0,0,0,0.15);zoom:1;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;width:126px;text-align:left;top:-80px;left:-50px}.prompt01 .pc{padding:5px 20px 5px 5px;}.prompt01 .close{background-image:none;color:#f60;top:3px;left:110px;font-size:14px}
.prompt01 .pb-b{left:50px}
/*回收站*/
.rbin{border:1px solid #ECD38B;background-color:#FEFEED;margin:-11px -5px -6px;width:818px;padding-top:6px;padding-bottom:6px;text-align:left;padding-left:10px}
*html .rbin{width:817px;}
.rbin .ftx-05{ cursor:pointer}
/*im*/
.right a.im:hover{text-decoration:none}
.right a.im:visited{color:#fff}
.right a.imoff{background:url(i/im.gif);cursor:default}
.o-mt .extra{float:right;padding-right:15px;}
.o-mt .extra a{display:inline-block;*display:inline;*zoom:1;position:relative;margin-right:10px}
.right .im2013,.right .im2013off{background:url(i/imon201312.gif) no-repeat 0 0;width:87px;}
.right .im2013off{background:url(i/imon201312off.gif) no-repeat 0 0;cursor:default;color:#ccc;}


.right a.im{background:url(i/imon.gif);width:100px;padding-left:31px;color:#fff;margin-right:0}
/*弹层*/
.fxst{padding:10px 10px 10px 52px}
.fxst-t{margin-left:-42px;font-size:14px;margin-bottom:6px}
.fxst .btns{margin-left:-42px}
.fxst .btns,#fxfill .btns{text-align:center}
.fxst .btn{margin-left:8px;;margin-right:8px}
.fxst-c{margin-bottom:10px}
#fxfill .form{padding:10px 0}
#fxfill .item{margin-bottom:20px;}
#fxfill .label{color:#666666;text-align:right;width:100px}
#fxfill .label,#fxfill label{line-height:25px;margin-right:8px;}
#fxfill .sele01{width:130px}#fxfill .text01{width:160px}#fxfill .area{width:320px;height:55px}
/*button*/
.mt .btn-3{background-image:none}
.mt .btn-3{color: #ffffff;text-decoration: none;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background-color:#e74649;background: -webkit-gradient(linear, 0 0, 0 100%, from(#e74649), to(#df3033));background: -moz-linear-gradient(top, #e74649, #df3033);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#e74649, endColorStr=#df3033);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#e74649, endColorStr=#df3033);display:inline-block;height:25px;line-height:25px;padding-left:11px;padding-right:11px}
.mt .btn-3:hover{ text-decoration:none;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f05356), to(#eb3c3f));background: -moz-linear-gradient(top, #f05356, #eb3c3f);-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f05356, endColorStr=#eb3c3f);filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f05356, endColorStr=#eb3c3f);-webkit-box-shadow:0px 1px 0 0 rgba(7,0,2,.2);-moz-box-shadow:0px 1px 0 0 rgba(7,0,2,.2);box-shadow:0px 1px 0 0 rgba(7,0,2,.2);}
.mt .btn-3 s{display:none}
/*合并付款*/
#order02 .mt .extra{width:447px}
#order02 .mt .i-extra{float:left}#order02 .mt .btn{margin-left:4px;}
.m .mt .extra a.btn-3:link,.m .mt .extra a.btn-3:visited,.m .mt .extra a.btn-3:hover{color:#ffffff;font-weight:bold}
.fx-fill{padding-left:5px;padding-right:5px}
/*20130722 优惠券提示层*/
.flex-quan,.flex-quan01{padding:10px}
.flex-quan .mc{padding-left:58px}
.flex-quan .icon-warn02,.flex-quan .icon-succ02{margin-left:-58px;float:left}
.flex-quan .btns{padding-left:58px}
.flex-quan .btn,.flex-quan01 .btn{margin-right:10px}
.flex-quan h3,.flex-quan01 h3{margin-bottom:3px;font-family:"microsoft yahei"}
.flex-quan p,.flex-quan01 p{margin-bottom:16px}
.flex-extra h3{font-size:16px;padding:15px 0 0;}
/*20130820 在线保障*/
.m-text{height:67px;padding-left:10px}
.m-text p{padding:14px 0}
.bg-joy{float:left;background-image:url(i/bg-joy.jpg);width:112px;height:67px;margin-right:18px}
#mbz .minfo{border:3px solid #DDDDDD;padding:0 20px;width:445px}
#mbz .minfo .mt{height:40px;line-height:40px;border-bottom:1px solid #DDDDDD}
#mbz .minfo .mc{padding:20px 0}
#mbz .list-oinfo {overflow:hidden;zoom:1;margin-bottom:6px}
#mbz .list-oinfo li{float:left;margin-right:30px;}
#mbz h5{font-weight:normal;margin-bottom:10px}
.scrollimg{position:relative;width:396px;padding:0 21px 0 27px}
.scrollimg #prev,.scrollimg #next{position:absolute;background-image:url(i/icon-way.png);width:17px;height:54px;line-height:200px;overflow:hidden;top:-1px; cursor:pointer}
.scrollimg #prev{left:0}
.scrollimg #next{right:0;background-position:-17px 0}
.scrollimg #prev.disabled{background-position:-68px 0}
.scrollimg #next.disabled{background-position:-85px 0}
.scrollimg .img-box{border:1px solid #e1e1e1;float:left;margin-right:4px;margin-bottom:4px}
.scrollimg .img-box:hover{border-color:#EDD28B}
#mbz .btns{text-align:center}
#mbz .btn{margin:0 5px}
/*****************************test**************************/
/*.btn-im,.btn-imoff{display:inline-block;background:url(i/btn-im.png);width:56px;height:24px;line-height:23px;padding-left:30px;}
.btn-imoff{background-position:0 -24px;color:#ccc;cursor:default}*/
.btn-im,.btn-imoff{float:left;display:inline-block;display:inline-block;*display:inline;*zoom:1;background:url(i/btn-im2.gif);width:16px;height:16px;line-height:100px;overflow:hidden;margin:4px 0 0;}
.btn-imoff{background-position:0 -16px;color:#ccc;cursor:default;}
a.btn-im:link,a.btn-im:visited,a.btn-im:hover{color:#333}
a.btn-imoff:link,a.btn-imoff:visited,a.btn-imoff:hover{color:#ccc}
a.btn-im:hover,a.btn-imoff:hover{text-decoration:none}
.o-btn,.o-pay,.o-comm,.o-repair,.o-pera{margin-bottom:4px}
.icon-tel{display:inline-block;background:url(i/icon-tell.png) no-repeat;height:17px;width:17px;font-size:0;line-height:0; vertical-align:middle}
.bt-box{border-top:1px solid #e1e1e1; padding-top:5px;}
/*预售*/
.stage-cont{background:#fafcff;margin:5px 6px;line-height:20px;}
.curr-stage{background:#eff4ff}
.stage li{float:left;padding:10px 0;}
.stage li.fore1{width:277px;}
.stage li.fore2{width:90px;}
.stage li.fore3{width:112px;}
.stage li.fore4{width:101px;}
.stage li.fore5{width:92px;padding:10px 5px;}
.stage li.fore6{width:115px;}
.stage-tip{display:inline-block;width:16px;height:16px;margin:0 5px 0 0;background:url(i/remind_16.png) no-repeat; vertical-align:middle;}
/*20131212 credit*/
.right .o-mt h2{position:relative;}
.layer-credit{position:absolute;left:100px;top:-47px;background-image:url(i/layer-credit.png);width:215px;height:105px;z-index:2;_background-image:url(i/layer-credit-01.png);}
.layer-credit  .cont{margin:30px 0 0 85px;line-height:20px;font-size:14px;color:#f60;font-weight:bold;}
.layer-credit .close{position:absolute}
.layer-credit .close{width:21px;height:21px;right:20px;top:4px;line-height:100px;overflow:hidden;background-image:none;border:none}
.layer-credit .go{display:block;font-weight:normal;font-size:12px;}
.layer-credit .go:link,.layer-credit .go:visited{color:#005EA7}
