

<h1 style="margin: 0; padding: 15px; cursor: default; font-family: 'Trebuchet MS',Arial,sans-serif;">XXX网上书城后台管理系统</h1>
<div style="position: absolute; top: 18px; right: 10px;">
    <a class="mini-button mini-button-iconTop" iconcls="icon-home_big" plain="true">首页</a>
    <a class="mini-button mini-button-iconTop" iconcls="icon-message_big" plain="true">消息</a>
    <a class="mini-button mini-button-iconTop" iconcls="icon-setting_big" plain="true">设置</a>
    <a class="mini-button mini-button-iconTop" iconcls="icon-logout_big" plain="true">注销</a>
</div>